@font-face {
  font-family: "Baloo2-Regular";
  src: url("/fonts/Baloo2-Regular.ttf");
}
@font-face {
  font-family: "Baloo2-Bold";
  src: url("/fonts/Baloo2-Bold.ttf");
}
@font-face {
  font-family: "Baloo2-Medium";
  src: url("/fonts/Baloo2-Medium.ttf");
}
@font-face {
  font-family: "Baloo2-SemiBold";
  src: url("/fonts/Baloo2-SemiBold.ttf");
}
@font-face {
  font-family: "Baloo2-ExtraBold";
  src: url("/fonts/Baloo2-ExtraBold.ttf");
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
